
*{
  font-family: 'Merriweather', serif;
  font-family: 'Ubuntu', sans-serif;
}

body{
    background: #0048BA;
    background: -moz-linear-gradient(top, #0048BA 0%, #B3F2FF 100%);
    background: -webkit-linear-gradient(top, #0048BA 0%, #B3F2FF 100%);
    background: linear-gradient(to bottom, #0048BA 0%, #B3F2FF 100%);
    background-repeat: repeat-x;
}

.fade-in-text-title {
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

    .fade-in-content {
    text-align: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    align-items: center;

    
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#nombre_ejemplo{
    text-align: center;
    font-size: 50px;
    display: table-cell;
    width: 500px;
    height: 226px;
    vertical-align: middle;
}

#imagen{
    border: solid black;
    padding: 10px;
    width: 400px;
}

#contenido_izquierdo{
    width: 400px;
    border: solid black;
    padding-right: 10px;
}

#contenido_derecho{
    width: 500px;
    border: solid black;
    padding-right: 10px;
}

#div_nom_ej{
  border: solid black;
  width: 500px;
}

#titulo_contacto{
  margin-top: 20px;
  text-align: left;
  
}


